services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: encho
    ports:
      - "5432:5432"
    volumes:
      - pgdata_encho:/var/lib/postgresql/data
volumes:
  pgdata_encho:
